.contenedor{
    background-color: yellow;
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
   /* min-height: 5rem;*/
    /*flex-direction: column;*/
}

.item{
    background-color: salmon;
    padding: 0.25rem;
}

.item2{
    align-self: stretch;
}