.contenedor{
    display: grid;
    gap: 0.5rem;
   /* grid-template-columns: auto auto auto;
   column-gap: 0.1rem;
    row-gap: 1rem;*/

   /* grid-template-columns: repeat(3, auto);*/

   grid-template-areas: 'head head head' 'main main aside' 'footer footer footer';

}

.item{
    background-color: aquamarine;
    padding: 0.25rem;
    border: 1px solid blue;
    font-size: 2rem;
}

.item2{
    grid-area: head;
}