.contenedor-hidden{
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}

.contenedor-scroll{
    background-color: rgb(240, 186, 121);
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: scroll;
    color: red;
    margin-bottom: 10px;
}

h3{
    background-color: yellow;
    border-radius: 20px;
}

.contenedor-visible{
    background-color: rgb(233, 156, 62);
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: visible;
}

.contenedor-auto{
    background-color: rgb(240, 98, 32);
    width: 300px;
    height: 100px;
    padding: 15px;
    margin-top: 20px;
    overflow: auto;
}
